[submodule "Desktop/profiles/myprofilepage/Desktop/profiles/myprofilepage/ClassWork"]
	path = Desktop/profiles/myprofilepage/Desktop/profiles/myprofilepage/ClassWork
	url = git@github.com:ChakerBaloch/ClassWork.git
